<script>
import VButton from "@/components/VButton.vue";
import VInput from "@/components/VInput.vue";
import TodoList from "@/components/TodoList.vue";

export default {
  data() {
    return {
      inputModel: "",
      todoList: [
        { id: 0, name: "design" },
        { id: 1, name: "code" },
        { id: 2, name: "test" },
        { id: 3, name: "accessibility" },
      ],
    };
  },
  methods: {
    submitForm() {
      this.createTodo();
    },
    createTodo() {
      const lastItemId = this.todoList.slice(-1)[0].id;
      this.todoList.push({
        id: lastItemId + 1,
        name: this.inputModel,
      });
      this.inputModel = "";
    },
    deleteTodo(id) {
      this.todoList = this.todoList.filter((item) => item.id !== id);
    },
  },
  components: {
    VButton,
    VInput,
    TodoList,
  },
};
</script>

<template>
  <main>
    <h1>Todo</h1>
    <div>Things todo {{ todoList.length }}</div>
    <div>
      <form @submit.prevent="submitForm">
        <v-input
          label="New todo"
          placeholder="What todo?"
          name="todo"
          id="todo-id"
          v-model="inputModel"
        />
        <v-button type="submit" :onClick="() => {}">Add</v-button>
      </form>
      <todo-list :items="todoList" :onDelete="deleteTodo" />
    </div>
  </main>
</template>
