<script>
import VButton from "@/components/VButton.vue";

export default {
  props: {
    items: { type: Array, required: true },
    onDelete: { type: Function, required: true },
  },
  components: {
    VButton,
  },
};
</script>

<template>
  <ul data-testid="todolist-id">
    <li v-for="item in items" :key="item.id">
      {{ item.name }}
      <v-button :onClick="() => onDelete(item.id)">Delete</v-button>
    </li>
  </ul>
</template>
