<script>
export default {
  props: {
    type: {
      type: String,
      default: "button",
    },
    onClick: {
      type: Function,
      required: true,
    },
  },
};
</script>

<template>
  <button :type="type" @click="onClick">
    <slot />
  </button>
</template>
